.container {
  background-color: #98ee3c;
  padding: 1.5rem;
  border: 3px solid #94a821;
  border-radius: 30px;
  margin: 1.5rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
